@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos adicionais para garantir que o html/body ocupam a altura toda */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}